/* Slide 2 */
.grid-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  background-color: #f8f8f8;
  padding: 100px 50px 50px;
  border: solid 5px #00c8c8;
}

.grid-item {
  background-color: #333333;
  padding: 20px 0;
  color: #fff;
}

.slide-title {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #575153;
}

/* Slide 3 */
.grid2-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  border: solid 2px #333333;
}

.line-text {
  position: absolute;
  bottom: -70px;
  left: 300px;
}

.grid2-item {
  border: solid 1px #333333;
}

.grid-cell {
  background-color: #ccc6c4;
}

.grid-row {
  background-color: #ddd;
}

.grid-column {
  background-color: #d1d7db;
}

.grid-area {
  background-color: #bbbbbb;
}

.grid-line {
  border-right: solid 7px #00c8c8;
}

/* Slide 4 */
h1 span {
  color: #00c8c8;
}

/* Slide 5 */
.grid3-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px auto 200px;
      grid-template-columns: 500px auto 200px;
}

.grid-item {
  background-color: #333333;
  border: solid 10px #00c8c8;
  padding: 20px 0;
  color: #fff;
}

.grid4-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

/* Slide 6 */
.grid5-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px auto 100px;
      grid-template-rows: 200px auto 100px;
}

.grid1-item {
  background-color: #333333;
  border: solid 10px #00c8c8;
  padding: 20px 0;
  color: #fff;
}

.grid6-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 138px 138px 138px;
      grid-template-rows: 138px 138px 138px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-cell {
  margin: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* Slide 8 */
.grid7-container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  height: 500px;
      grid-template-areas: "A A A A   A A A A   A A A A" "B B B B   B B B B   B B C C" "B B B B   B B B B   B B C C";
}

.box-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: A;
  padding: 0;
}

.box-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-area: B;
  padding: 0;
}

.box-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: C;
  padding: 0;
}

/*Slide 9*/
.area-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.area-cell {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*Slide 10*/
.grid8a-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  border: solid 10px #00c8c8;
}

.grid8b-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  border: solid 10px #00c8c8;
}

.grid3-item {
  background-color: #333333;
  padding: 20px 0;
  color: #fff;
}

.gap-flex,
.justify-flex,
.justify2-flex,
.align2-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gap-cell,
.justify-cell,
.justify2-cell,
.align2-cell {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px;
}

.gap-col {
  height: 65px;
}

.grid8c-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px 10px;
  border: solid 10px #00c8c8;
}

/*Slide 11*/
.justify-container,
.align-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  border: solid 10px #00c8c8;
}

.grid9a-container {
  justify-items: start;
}

.grid9b-container {
  justify-items: end;
}

.grid9c-container {
  justify-items: center;
}

.grid9d-container {
  justify-items: stretch;
}

.justify-item {
  padding: 20px 10px;
}

/*Slide 12*/
.align-container {
  min-height: 300px;
}

.grid10a-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.grid10b-container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.grid10c-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid10d-container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.align-item {
  padding: 0;
}

/*Slide 13*/
.justify2-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 70px;
      grid-template-rows: 70px 70px;
  -ms-grid-columns: 70px 70px;
      grid-template-columns: 70px 70px;
  gap: 10px;
  border: solid 10px #00c8c8;
}

.grid11a-container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.grid11b-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.grid11c-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid11d-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid11e-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grid11f-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify2-item {
  padding: 10px;
}

/*Slide 14*/
.align2-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 60px;
      grid-template-rows: 60px 60px;
  -ms-grid-columns: 60px 60px;
      grid-template-columns: 60px 60px;
  gap: 5px;
  border: solid 5px #00c8c8;
  min-height: 180px;
}

.grid12a-container {
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid12b-container {
  -ms-flex-line-pack: end;
      align-content: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid12c-container {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid12e-container {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid12f-container {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid12g-container {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align2-item {
  padding: 5px;
}

/*Slide 14*/
.flex-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grid-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 200px;
}

.grid-it-active {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background-color: #bbbbbb;
}

.grid-it-row {
  background-color: #bbbbbb;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

/* Slide 19 */
.grid-it-area {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 3 / 4;
  background-color: #bbbbbb;
}

/* Slide 20 */
.self1-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.self2-container {
  display: -ms-grid;
  display: grid;
  background-color: #bbbbbb;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.self-item {
  border: solid 5px #00c8c8;
  padding: 20px;
}

.self-start {
  -ms-grid-column-align: start;
      justify-self: start;
}

.self-end {
  -ms-grid-column-align: end;
      justify-self: end;
}

.self-center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.self-stretch {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.self2b-container {
  display: -ms-grid;
  display: grid;
  background-color: #bbbbbb;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 200px;
}

.self2-item {
  border: solid 5px #00c8c8;
  padding: 20px;
}

.self2-start {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.self2-end {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.self2-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.self2-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
